// NMC Colors
$nmc-primary: #dc0000;
$nmc-dark-grey: #373A40;
$nmc-medium-grey: #5f6368;
$nmc-grey: #999999;
$nmc-grey-2: #D2D2D2;
$nmc-white: #FFFFFF;
$nmc-black: #000000;
$nmc-light: #f8f9fa;
$nmc-red: #dc0000;

// NMC Font Family
$nmc-font-family-inter: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
$nmc-font-family-poppins: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
