<section class="sponsorship-section py-5 nmc-bg-light">
  <div class="container-boxed">
    <div class="text-center heading mb-5">
      <h2 class="mb-4 text-bottom-line position-relative">Sponsorship</h2>
    </div>

    <article class="nmc-bg-white p-3 p-sm-4 p-md-5" [innerHTML]="markdown() | markdown"></article>

    <div class="text-center">
      <a class="download-brochure" href="/ai-india-sponsorship.pdf" download="AI-India-Sponsorship.pdf">
        Download Brochure
      </a>
    </div>
  </div>
</section>
