<section class="venue-section py-5 nmc-bg-light">
  <div class="container-boxed">
    <div class="text-center heading mb-5">
      <h2 class="mb-4 text-bottom-line position-relative">Venue</h2>
    </div>

    <div class="venue-details mx-auto">
      <h3 class="font-family-poppins mb-4">Near to Pune AirPort</h3>

      <ul class="venue-list">
        <li>An auditorium near Pune Airport around 2 KM</li>
        <li>Exact location shared with registered attendees</li>
        <li>
          Hotel/Airbnb tip for Viman Nagar, Koregaon Park, or Lohegaon
        </li>
        <li>Parking is available</li>
      </ul>
    </div>
  </div>
</section>
