<section class="sponsors-section py-5 nmc-bg-light">
  <div class="container-boxed">
    <div class="text-center heading mb-5">
      <h2 class="mb-4 text-bottom-line position-relative">Sponsors</h2>
    </div>

    <div class="row g-4 clients-wrap justify-content-center align-items-center">
      @for(sponsor of sponsors; track sponsor.sponsorLink){
      <div class="col-auto">
        <div class="client-logo d-flex align-items-center justify-content-center position-relative">
          <a [href]="sponsor.sponsorLink" target="_blank" rel="noopener noreferrer">
            <img class="sponsor-logo" [src]="sponsor.sponsorImage" [alt]="sponsor.sponsorName" />
          </a>

          @if (sponsor.sponsorType) {
          <p
            class="sponsor-type font-13 font-family-poppins position-absolute m-0"
            [class.bronze-text]="sponsor.sponsorType === 'Bronze'"
            [class.silver-text]="sponsor.sponsorType === 'Silver'"
            [class.gold-text]="sponsor.sponsorType === 'Gold'"
          >
            {{ sponsor.sponsorType }}
          </p>
          }

        </div>
      </div>
      }
    </div>

    <div class="py-5 text-center">
      <p class="nmc-medium-grey font-20">
        Interested in becoming a sponsor and supporting our conference?
      </p>

      <a class="brochure-btn" href="/sponsorship">Know More</a>
    </div>
  </div>
</section>
