<section class="agenda-section py-5 nmc-bg-light">
  <div class="container-boxed">
    <div class="text-center heading mb-5">
      <h2 class="mb-4 text-bottom-line position-relative">Agenda</h2>
    </div>

    <div class="agendas">
      @for(agenda of agendas; track agenda.startTime + agenda.title){
      <article class="agenda">
        <p class="time">{{ agenda.startTime }} – {{ agenda.endTime }}</p>
        <h3 class="talk-title" [innerHTML]="agenda.title | markdown: 'inline'"></h3>

        @if(agenda.description){
        <div class="talk-details" [innerHTML]="agenda.description | markdown"></div>
        }

        @if(agenda.speakerName){
        <p class="speaker-name">— {{ agenda.speakerName }}</p>
        }
      </article>
      }
    </div>

    <div
      class="error-label text-danger font-18 d-flex align-items-center justify-content-center mt-5 mb-0"
    >
      <i class="bi bi-exclamation-triangle-fill me-2"></i>
      <p class="nmc-medium-grey font-family-inter m-0">
        Agendas are subjected to be changed
      </p>
    </div>
  </div>
</section>
