@use "./app/styles/variables" as *;

html {
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    margin: 0;
    font-family: $nmc-font-family-inter !important;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar-track {
    background-color: $nmc-dark-grey;
}

::-webkit-scrollbar-thumb {
    background-color: $nmc-primary;
}

::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    background-color: $nmc-grey-2;
    margin-right: 5px;
}

menu,
ol,
ul,
li {
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
}

img,
video {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none !important;
}

textarea {
    padding-top: 11px !important;
}

@font-face {
    font-family: "Roboto";
    src: url("/assets/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("/assets/fonts/Inter-VariableFont_slnt,wght.ttf");
}

@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/Poppins-SemiBold.ttf");
}

.font-family-inter {
    font-family: $nmc-font-family-inter !important;
}

.font-family-poppins {
    font-family: $nmc-font-family-poppins !important;
}

.font-13 {
    font-size: 0.8rem;
}

.font-14 {
    font-size: 0.875rem !important;
}

.font-16 {
    font-size: 1rem !important;
}

.font-18 {
    font-size: 1.125rem;
}

.font-20 {
    font-size: 1.25rem;
}

.font-22 {
    font-size: 1.375rem;
}

.font-24 {
    font-size: 1.5rem;
}

.font-38 {
    font-size: 2.375rem !important;
}

.w-30 {
    width: 30%;
}

.w-75 {
    width: 75%;
}

.w-100 {
    width: 100% !important;
}

.nmc-primary {
    color: $nmc-primary !important;
}

.nmc-dark-grey {
    color: $nmc-dark-grey !important;
}

.nmc-medium-grey {
    color: $nmc-medium-grey !important;
}

.nmc-white {
    color: $nmc-white !important;
}

.nmc-black {
    color: $nmc-black !important;
}

.nmc-bg-primary {
    background-color: $nmc-primary !important;
}

.nmc-bg-dark-grey {
    background-color: $nmc-dark-grey !important;
}

.nmc-bg-light {
    background-color: $nmc-light !important;
}

.nmc-bg-white {
    background-color: $nmc-white !important;
}

.container-boxed {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.nmc-btn-primary {
    display: block;
    height: 42px;
    color: $nmc-white;
    background-color: $nmc-primary;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.nmc-btn-primary:hover {
    --bg-opacity: 1;
    background-color: $nmc-dark-grey;
}

.nmc-btn-primary:disabled {
    background-color: $nmc-medium-grey;
    pointer-events: none;
}

.scroll-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: -15px;
    z-index: 99999;
    background-color: $nmc-primary;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    transition: all 0.4s;
}

.scroll-top i {
    font-size: 24px;
    color: $nmc-white;
    line-height: 0;
}

.scroll-top.active {
    visibility: visible;
    opacity: 1;
    bottom: 15px;
}

.nav-item .nav-link {
    border: 1px solid transparent;
    transition: all ease-in-out;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.nav-link:focus,
.nav-link:hover {
    color: $nmc-primary !important;
    border-color: $nmc-grey !important;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0px 0px 0px 3px rgba(220, 0, 0, .1);
}

header .navbar-nav .nav-link.active,
header .navbar-nav .nav-link.show {
    color: $nmc-white !important;
    border-color: transparent !important;
    background-color: transparent;
    box-shadow: none;
}

.text-bottom-line::after {
    background-image: url('/assets/images/bottom-text-line.svg');
    background-repeat: no-repeat;
    content: "";
    height: 4px;
    inset: 55px 0 0 0;
    margin: 0 auto;
    position: absolute;
    width: 191px;
}

.hr-red-gradient {
    width: 45px;
    height: 4px;
    background-image: linear-gradient(315deg, $nmc-dark-grey 10%, $nmc-primary 50%);
    opacity: 1;
}
