<section class="stats">
  <div class="container-boxed">
    <div class="stats-row">
      <div class="stat">
        <p class="stat-value">1</p>
        <p class="stat-label">Day</p>
      </div>
      <div class="stat">
        <p class="stat-value">13</p>
        <p class="stat-label">Talks</p>
      </div>
      <div class="stat">
        <p class="stat-value">13</p>
        <p class="stat-label">Speakers</p>
      </div>
      <div class="stat">
        <p class="stat-value">500+</p>
        <p class="stat-label">Delegates</p>
      </div>
    </div>
  </div>
</section>
