<div class="container-boxed mt-5 mb-4">
    <div class="stats-row">
        <div class="stat-circle">
            <h1 class="fw-bold">1</h1>
            <div class="stat-label fw-semibold">Day</div>
        </div>
        <div class="stat-circle">
            <h1 class="fw-bold">15</h1>
            <div class="stat-label fw-semibold">Talks</div>
        </div>
        <div class="stat-circle">
            <h1 class="fw-bold">15</h1>
            <div class="stat-label fw-semibold">Speakers</div>
        </div>
        <div class="stat-circle">
            <h1 class="fw-bold">500+</h1>
            <div class="stat-label fw-semibold">Delegates</div>
        </div>
    </div>
</div>
